
<button onclick="document.getElementById('id23').style.display='block'" class="btn btn-sm btn-primary">games</button>

<div id="id23" class="modal">

    <a class="btn btn-primary" onclick="goBack()">Go Back</button>
    <a class="btn btn-primary" href="https://www.addictinggames.com/clicker/helicopter-game">Helicopter</a>
    <a class="btn btn-primary" href="https://www.addictinggames.com/io-games/fallerzio">Fallguys</a>
    <a class="btn btn-primary " href="https://www.addictinggames.com/puzzle/flow-mania">Flow Mania</a>
    <a class="btn btn-primary" href="https://www.addictinggames.com/io-games/craftniteio">Craftniteio</a>
</div>

