
<div class="help-text">
    <p>press command f or control f to see different 
    stuff that u whant to see.</p>
</div>

  
<script>
    
function goBack() {
 window.history.back()
}
</script>



<button onclick="goBack()">Go Back</button>


</body>
