<!DOCTYPE>
<html>
    <head>
    </head>
    <body>
        <input class="report" type="text" placeholder="report bug" name="uname" required>
        <button class="buttons" onclick="goBack()">Go Back</button>
        <button type="submit">Report</button>

    </body>
<html>
